@tailwind base;
@tailwind components;
@tailwind utilities;

.padding {
  padding-right: 0.8rem;
  padding-left: 0.8rem;
}

@media screen and (min-width: 768px) {
  .padding {
    padding-right: 3rem;
    padding-left: 3rem;
  }
}
@media screen and (min-width: 1024px) {
  .padding {
    padding-right: 5rem;
    padding-left: 5rem;
  }
}

.text-blue {
  color: #024e82;
}
.bg-blue {
  background-color: #024e82;
}


.no-scrollbar::-webkit-scrollbar {
  width: 3px;
  -webkit-appearance: none;
}

@media screen and (min-width: 768px) {
  .no-scrollbar::-webkit-scrollbar {
    width: 6px;
  }
}


.no-scrollbar::-webkit-scrollbar-thumb {
  -webkit-appearance: none;
  background-color: #024e82;
  border-radius: 0.3rem;
}

