.hero-bg {
    background-image: url("../assets/images/welcome.jpg");
    height: 33rem;
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (max-width: 480px) {
    .hero-bg {
        background-image: url("../assets/images/welcome.jpg");
        height: 33rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 30%;
    }
}